{% extends "layout.html" %}
{% from "macros/gallery.html" import render_gallery_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  {% set count = this.pagination.items.count() / 4 * 170%}
  <div class="page">
  	<div class="full">
  		<h2>Entire papers</h2>
      <ul>
  {% for child in this.pagination.items %}
        
    {{ render_gallery_post(child, from_index=true, full_paper=true) }}
        
  {% endfor %}
        
      </ul>
	</div>
	<div >
		<h2>Paper sections</h2>
      <ul>
        
  {% for child in this.pagination.items %}
    {{ render_gallery_post(child, from_index=true, full_paper=false) }}
  {% endfor %}
      </ul>
	</div>

  <div>
  <h5>(*) compares code to an existing implementation</h5>
  </div>
  <!-- {{ render_pagination(this.pagination) }} -->
</div>
{% endblock %}

